.container {
  display: flex;
  padding: 20px;
}

.backup,
.gestion-empleados {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin: 10px;
}

.backup h2,
.gestion-empleados h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px 0;
}

.container button:hover {
  background-color: #0056b3;
}

.container input[type="file"],
.container input[type="text"],
.container input[type="password"],
.container select {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.container input[type="file"] {
  padding: 10px;
}

.container input[type="text"]:focus,
.container input[type="password"]:focus,
.container select:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

h1.main-title {
  margin-left: 40px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

.alert-success {
  position: fixed;
  top: 20px;
  right: -100%;
  transform: translateX(0);
  padding: 1rem;
  margin: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  z-index: 1050;
  display: flex;
  align-items: center;
  transition: right 0.5s ease-in-out;
  padding-right: 2rem;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-success .show {
  right: 20px;
}

.alert-sucess .bi {
  color: #155724;
}

body.dark .backup,
body.dark .gestion-empleados {
  background-color: #3a3a3a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

body.dark .backup h2,
body.dark .gestion-empleados h2 {
  color: white;
}
