/* Estilos para el formulario de búsqueda de clientes */
.container_productos_buscar {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container_productos_buscar input {
  flex: 1;
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #ddd;
  outline: none;
  margin-right: 10px;
  transition: border-color 0.3s;
}

form {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

form input[type="datetime-local"],
form select {
  width: calc(100% - 15px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-sizing: border-box;
}

form input[type="datetime-local"]:focus,
form select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

form strong {
  color: #007bff;
}

form br {
  margin-bottom: 20px;
}

.container_productos_buscar input:focus {
  border-color: #007bff;
}

.container_productos_buscar button {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.container_productos_buscar button.Actualizar {
  background-color: #6f42c1;
  color: white;
}

.container_productos_buscar button.Actualizar:hover {
  background-color: #5a32a3;
}

.container_productos_buscar button.Eliminar {
  background-color: #e74c3c;
  color: white;
}

.container_productos_buscar button.Eliminar:hover {
  background-color: #c0392b;
}

/* Estilos para el contenedor de clientes */
.container_productos {
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para la tabla de clientes */
.table_de_productos {
  width: 100%;
  border-spacing: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table_de_productos th,
.table_de_productos td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table_de_productos thead th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.table_de_productos tbody tr:hover {
  background-color: #f1f1f1;
}

.table_de_productos td input[type="checkbox"] {
  margin: 0 auto;
  display: block;
}

.table_de_productos th:nth-child(1),
.table_de_productos td:nth-child(1) {
  text-align: center;
}

/* Clases para usar en JavaScript */
.body_move {
  margin-left: 250px;
}

.menu__side_move {
  width: 250px;
}
/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: animatezoom 0.6s;
}

/* Zoom */
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 600;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content label {
  margin-top: 10px;
  font-weight: 500;
}

.modal-content input[type="text"],
.modal-content input[type="submit"],
.modal-content button {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-content input[type="text"]:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.modal-content input[type="submit"],
.modal-content button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content input[type="submit"]:hover,
.modal-content button:hover {
  background-color: #45a049;
}

@media screen and (max-width: 600px) {
  .modal-content {
    width: 95%;
  }
}

/* Estilos para el botón "Realizar Venta" */
button[type="submit"] {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #218838;
  transform: scale(1.05); /* Aumento de tamaño al pasar el ratón */
}

button[type="submit"]:active {
  background-color: #1e7e34;
  transform: scale(1); /* Tamaño original al hacer clic */
}

button[type="submit"]:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5);
}

/* Estilos para los contenedores */
.container_productos {
  margin-bottom: 30px;
}

.subtotal-iva-total {
  text-align: right;
  margin-top: 20px;
  font-size: 18px;
}

.subtotal-iva-total label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

.subtotal-iva-total span {
  font-weight: bold;
}

.button-container {
  text-align: center;
}

/* Estilos alerta de actualizar */
.alert {
  position: fixed;
  top: 20px;
  right: -100%;
  transform: translateX(0);
  padding: 1rem;
  margin: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  z-index: 1050;
  display: flex;
  align-items: center;
  transition: right 0.5s ease-in-out;
  padding-right: 2rem;
}

.alert.show {
  right: 20px;
}

.alert-primary {
  color: #512e5f;
  background-color: #d7bde2;
  border-color: #bb8fce;
}

.alert-primary .bi {
  color: #512e5f;
}

/* Estilos alerta de eliminar */
.alert-eliminar {
  position: fixed;
  top: 20px;
  right: -100%;
  transform: translateX(0);
  padding: 1rem;
  margin: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  z-index: 1050;
  display: flex;
  align-items: center;
  transition: right 0.5s ease-in-out;
  padding-right: 2rem;
  background-color: #f8d7da;
  color: #842029;
  border-color: #f5c2c7;
}

.alert-eliminar.show {
  right: 20px;
}

.alert-eliminar .bi {
  color: #842029;
}

/* Clases adicionales */
.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.me-2 {
  margin-right: 0.5rem !important;
}

.btn-close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
  cursor: pointer;
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
  width: 1em;
  height: 1em;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
}

.btn-close:focus {
  outline: none;
}

.btn-close:hover {
  opacity: 1; /* Cambia la opacidad al pasar el ratón */
}

body.dark .modal-content {
  background-color: #3a3a3a;
  border: 1px solid #555;
}

body.dark .modal h2,
body.dark .modal label {
  color: white;
}

body.dark .modal input[type="text"] {
  background-color: #555;
  border: 1px solid #444;
  color: white;
}

body.dark .modal input[type="submit"] {
  background-color: #5cb85c;
}

body.dark .modal input[type="submit"]:hover {
  background-color: #4cae4c;
}

body.dark .modal form {
  background-color: #3a3a3a;
}
