{% extends "base.html" %} {% block title %}Ayuda{% endblock %} {% block head %}
{{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/ayuda.css') }}"
/>
<link
  rel="shortcut icon"
  href="{{ url_for('static', filename='favicon.ico') }}"
/>
{% endblock %} {% block content %} {% include 'sidebar.html' %}
<main class="container">
  <h1>Ayuda</h1>
  <div class="grid cards-section">
    <div class="grid large-cards-section">
      <div class="large-card">
        <h2>Manual de Usuario</h2>
        <button class="imprimir-btn" onclick="window.location.href = '{{ url_for('manual_de_usuario') }}'"">Imprimir</button>
      </div>
      {% if rol == 'administrador' %}
      <div class="large-card">
        <h2>Manual del Sistema</h2>
        <button class="imprimir-btn" onclick="window.location.href = '{{ url_for('manual_del_sistema') }}'">Imprimir</button>
      </div>
      {% endif %}
    </div>
  </div>
</main>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/component.js') }}"></script>
{% endblock %}