<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/dashboard.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
  </head>

  <body id="body">
    <header>
      <div class="icon__menu">
        <img
          src="{{ url_for('static', filename='imagenes/icons/menu.png') }}"
          alt=""
          id="btn_open"
        />
      </div>
      <div class="icon__configuracion">
        <img
          src="{{ url_for('static', filename='imagenes/icons/config.png') }}"
          alt=""
        />
      </div>
      <div class="boton">
        <button class="switch" id="switch">
          <span>
            <img
              src="{{ url_for('static', filename='imagenes/icons/sol.png') }}"
              alt=""
            />
          </span>
          <span>
            <img
              src="{{ url_for('static', filename='imagenes/icons/luna.png') }}"
              alt=""
            />
          </span>
        </button>
      </div>
    </header>

    <div class="menu__side" id="menu_side">
      <div class="name_page">
        <img
          src="{{ url_for('static', filename='imagenes/logo.png') }}"
          alt=""
        />
        <h4>CamiCandy</h4>
      </div>

      <div class="options__menu">
        <a href="{{ url_for('dashboard') }}" class="selector">
          <div class="option">
            <img
              src="{{ url_for('static', filename='imagenes/icons/dashboard.png') }}"
              title="Dashboard"
            />
            <h4>Dashboard</h4>
          </div>
        </a>
        <a href="{{ url_for('productos') }}">
          <div class="option">
            <img
              src="{{ url_for('static', filename='imagenes/icons/productos.png') }}"
              title="productos"
            />
            <h4>Productos</h4>
          </div>
        </a>
        <a href="{{ url_for('clientes') }}">
          <div class="option">
            <img
              src="{{ url_for('static', filename='imagenes/icons/clientes.png') }}"
              title="Cliente"
            />
            <h4>clientes</h4>
          </div>
        </a>
        <a href="{{ url_for('proveedores') }}">
          <div class="option">
            <img
              src="{{ url_for('static', filename='imagenes/icons/proveedores.png') }}"
              title="Proveedores"
            />
            <h4>Proveedores</h4>
          </div>
        </a>
        <a href="{{ url_for('transacciones') }}">
          <div class="option">
            <img
              src="{{ url_for('static', filename='imagenes/icons/icons8-transacción-30.png') }}"
              title="Transacciones"
            />
            <h4>Transacciones</h4>
          </div>
        </a>
        <a href="#">
          <div class="option">
            <img
              src="{{ url_for('static', filename='imagenes/icons/reportes.png') }}"
              title="Reportes"
            />
            <h4>Reportes</h4>
          </div>
        </a>
        <a href="#">
          <div class="option">
            <img
              src="{{ url_for('static', filename='imagenes/icons/herramientas.png') }}"
              title="Herramientas"
            />
            <h4>Herramientas</h4>
          </div>
        </a>
        <a href="#">
          <div class="option">
            <img
              src="{{ url_for('static', filename='imagenes/icons/ayuda.png') }}"
              title="Ayuda"
            />
            <h4>Ayuda</h4>
          </div>
        </a>
      </div>
    </div>

    <main class="container">
      <div class="grid cards-section">
        <div class="card">
          <h2>Productos</h2>
          <p>Almacen: {{ total_productos }}</p>
        </div>

        <div class="card">
          <h2>Clientes</h2>
          <p>Registrados: {{ total_clientes }}</p>
        </div>

        <div class="card">
          <h2>Proveedores</h2>
          <p>Registrados: {{ total_proveedores }}</p>
        </div>

        <div class="card">
          <h2>Card 4</h2>
          <p>Contenido de la tarjeta 4.</p>
        </div>
      </div>

      <div class="grid large-cards-section">
        <div class="large-card">
          <h2>Large Card 1</h2>
          <p>Grafico de ventas</p>
        </div>

        <div class="large-card">
          <h2>Large Card 2</h2>
          <p>Grafico de Ganancias de la semana</p>
        </div>
      </div>
    </main>

    <script src="{{ url_for('static', filename='js/component.js') }}"></script>
  </body>
</html>
