<header>
  <div class="icon__menu">
    <img
      src="{{ url_for('static', filename='imagenes/icons/menu.png') }}"
      alt=""
      id="btn_open"
    />
  </div>
  <div class="icon__configuracion">
    <img
      src="{{ url_for('static', filename='imagenes/icons/herramientas.png') }}"
      alt=""
    />
  </div>
  <div class="icon__configuracion">
    <img
      src="{{ url_for('static', filename='imagenes/icons/ayuda.png') }}"
      alt=""
    />
  </div>
  <div class="separator"></div>
  <div class="boton">
    <button class="switch" id="switch">
      <span>
        <img
          src="{{ url_for('static', filename='imagenes/icons/sol.png') }}"
          alt=""
        />
      </span>
      <span>
        <img
          src="{{ url_for('static', filename='imagenes/icons/luna.png') }}"
          alt=""
        />
      </span>
    </button>
  </div>
  <div class="logout">
    <a href="{{ url_for('logout') }}">
      <img
        src="{{ url_for('static', filename='imagenes/icons/salida.png') }}"
        alt="Logout"
      />
    </a>
  </div>
</header>
