{% extends "base.html" %} {% block title %}Login{% endblock %} {% block head %}
{{ super() }}
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
  rel="stylesheet"
/>
<!-- Enlace al archivo CSS -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login.css') }}"
/>
<link
  rel="shortcut icon"
  href="{{ url_for('static', filename='favicon.ico') }}"
/>
{% endblock %} {% block content %}
<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<form method="post">
  <h3>Bienvenido</h3>

  <label for="username">Cédula</label>
  <input
    type="text"
    placeholder="Ej. 20343284"
    id="username"
    name="username"
    required
    onkeydown="return validarNumero(event)"
    oninput="validarPegado(event)"
  />

  <label for="password">Contraseña</label>
  <input
    type="password"
    placeholder="Contraseña"
    id="password"
    name="password"
    required
  />

  <button type="submit">Ingresar</button>
  <a href="{{ url_for('recuperar_contrasena') }}" class="forgot-password"
    >¿Olvidó su contraseña?</a
  >

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages">
      {% for category, message in messages %}
      <div class="flash-message {{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</form>
{% endblock %} {% block scripts %}
<script>
  function cerrarFlashMessage(button) {
    const flashMessage = button.closest(".flash-message");
    flashMessage.classList.remove("show");
    setTimeout(() => {
      flashMessage.remove();
    }, 300);
  }

  document.addEventListener("DOMContentLoaded", function () {
    const flashMessages = document.querySelectorAll(".flash-message");
    flashMessages.forEach((message) => {
      setTimeout(() => {
        message.classList.remove("show");
        setTimeout(() => {
          message.remove();
        }, 300);
      }, 5000);
    });
  });
  
  function validarNumero(event) {
    // permitir backspace, delete, tab, escape, enter y .
    if (
      event.key === "Backspace" ||
      event.key === "Delete" ||
      event.key === "Tab" ||
      event.key === "Escape" ||
      event.key === "Enter" ||
      event.key === "."
    ) {
      return true;
    }
    // permitir Ctrl+A, Ctrl+C, Ctrl+V, Ctrl+X
    if (
      (event.ctrlKey || event.metaKey) &&
      (event.key === "a" ||
        event.key === "c" ||
        event.key === "v" ||
        event.key === "x")
    ) {
      return true;
    }
    // permitir teclas de flecha
    if (
      event.key === "ArrowLeft" ||
      event.key === "ArrowRight" ||
      event.key === "ArrowUp" ||
      event.key === "ArrowDown"
    ) {
      return true;
    }
    // confirmar que es un número
    if (!/^[0-9]$/.test(event.key)) {
      event.preventDefault();
      return false;
    }
    return true;
  }

  function validarPegado(event) {
    var input = event.target;
    var value = input.value;
    // confirmar que solo contiene números
    if (!/^[0-9]*$/.test(value)) {
      input.value = value.replace(/[^0-9]/g, "");
    }
  }
</script>
{% endblock %}
