{% extends "base.html" %} {% block title %}Perfil{% endblock %} {% block head
%} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reportes.css') }}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
{% endblock %} {% block content %} {% include 'sidebar.html' %}
<main class="container">
    <h1>Perfil {% if rol == "administrador" %}- Administrador {% else %}- Empleado     {% endif %}</h1>
    <div class="grid cards-section">
       <h1> Hola? {{ nombre }} </h1>

    </div>
</main>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/component.js') }}"></script>
{% endblock %}