{% extends "base.html" %} {% block title %}Reportes{% endblock %} {% block head
%} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/reportes.css') }}"
/>
<link
  rel="shortcut icon"
  href="{{ url_for('static', filename='favicon.ico') }}"
/>
{% endblock %} {% block content %} {% include 'header.html' %} {% include
'sidebar.html' %}
<main class="container">
  <div class="grid cards-section">
    <div class="card" id="productos-card">
      <h2>Productos</h2>
      <button
        class="imprimir-btn"
        onclick="window.location.href = '{{ url_for('productos_reporte') }}'"
      >
        Imprimir reporte
      </button>
    </div>

    <div class="card" id="clientes-card">
      <h2>Clientes</h2>
      <button class="imprimir-btn" onclick="#">Imprimir reporte</button>
    </div>

    <div class="card" id="proveedores-card">
      <h2>Proveedores</h2>
      <button class="imprimir-btn" onclick="#">Imprimir reporte</button>
    </div>

    <div class="card" id="transacciones-card">
      <h2>Transacciones</h2>
      <button class="imprimir-btn" onclick="#">Imprimir reporte</button>
    </div>

    <div class="card" id="transacciones-card">
      <h2>Empleados</h2>
      <button class="imprimir-btn" onclick="#">Imprimir reporte</button>
    </div>

    <div class="card" id="transacciones-card">
      <h2>Ventas</h2>
      <button class="imprimir-btn" onclick="#">Imprimir reporte</button>
    </div>
  </div>
</main>
{% endblock %}
