<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CamiCandy - Transacciones</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/transacciones.css') }}"
    />
  </head>
  
  {% if rol == "administrador" %}

  <body id="body">
    <header>
      <div class="icon__menu">
        <img
          src="{{ url_for('static', filename='imagenes/icons/menu.png') }}"
          alt=""
          id="btn_open"
        />
      </div>
      <div class="icon__configuracion">
        <img
          src="{{ url_for('static', filename='imagenes/icons/herramientas.png') }}"
          alt=""
        />
      </div>
      <div class="boton">
        <button class="switch" id="switch">
          <span>
            <img
              src="{{ url_for('static', filename='imagenes/icons/sol.png') }}"
              alt=""
            />
          </span>
          <span>
            <img
              src="{{ url_for('static', filename='imagenes/icons/luna.png') }}"
              alt=""
            />
          </span>
        </button>
      </div>
    </header>
  
    <div class="menu__side" id="menu_side">
      <div class="name_page">
        <img
          src="{{ url_for('static', filename='imagenes/logo.png') }}"
          alt=""
        />
        <h4>CamiCandy</h4>
      </div>
  
      <div class="options__menu">
        <a href="{{ url_for('dashboard') }}" >
          <div class="option">
            <img
              src="{{ url_for('static', filename='imagenes/icons/dashboard.png') }}"
              title="Dashboard"
            />
            <h4>Dashboard</h4>
          </div>
        </a>
        <a href="{{ url_for('productos') }}" >
          <div class="option">
            <img
              src="{{ url_for('static', filename='imagenes/icons/productos.png') }}"
              title="productos"
            />
            <h4>Productos</h4>
          </div>
        </a>
        <a href="{{ url_for('clientes') }} ">
          <div class="option">
            <img
              src="{{ url_for('static', filename='imagenes/icons/clientes.png') }}"
              title="Cliente"
            />
            <h4>clientes</h4>
          </div>
        </a>
        <a href="{{ url_for('proveedores') }}">
          <div class="option">
            <img
              src="{{ url_for('static', filename='imagenes/icons/proveedores.png') }}"
              title="Proveedores"
            />
            <h4>Proveedores</h4>
          </div>
        </a>
        <a href="{{ url_for('transacciones') }}" class="selector">
          <div class="option">
            <img
              src="{{ url_for('static', filename='imagenes/icons/icons8-transacción-30.png') }}"
              title="Transacciones"
            />
            <h4>Transacciones</h4>
          </div>
        </a>
        <a href="{{ url_for('reportes') }}">
          <div class="option">
            <img
              src="{{ url_for('static', filename='imagenes/icons/reportes.png') }}"
              title="Reportes"
            />
            <h4>Reportes</h4>
          </div>
        </a>
        <a href="{{ url_for('herramientas') }}">
          <div class="option">
            <img
              src="{{ url_for('static', filename='imagenes/icons/herramientas.png') }}"
              title="Herramientas"
            />
            <h4>Herramientas</h4>
          </div>
        </a>
        <a href="#">
          <div class="option">
            <img
              src="{{ url_for('static', filename='imagenes/icons/ayuda.png') }}"
              title="Ayuda"
            />
            <h4>Ayuda</h4>
          </div>
        </a>
      </div>
    </div>
    {% else %}
  
  
      
    <body id="body">
      <header>
        <div class="icon__menu">
          <img
            src="{{ url_for('static', filename='imagenes/icons/menu.png') }}"
            alt=""
            id="btn_open"
          />
        </div>
        <div class="icon__configuracion">
          <img
            src="{{ url_for('static', filename='imagenes/icons/herramientas.png') }}"
            alt=""
          />
        </div>
        <div class="boton">
          <button class="switch" id="switch">
            <span>
              <img
                src="{{ url_for('static', filename='imagenes/icons/sol.png') }}"
                alt=""
              />
            </span>
            <span>
              <img
                src="{{ url_for('static', filename='imagenes/icons/luna.png') }}"
                alt=""
              />
            </span>
          </button>
        </div>
      </header>
  
      <div class="menu__side" id="menu_side">
        <div class="name_page">
          <img
            src="{{ url_for('static', filename='imagenes/logo.png') }}"
            alt=""
          />
          <h4>CamiCandy</h4>
        </div>
  
        <div class="options__menu">
          <a href="{{ url_for('dashboard') }}">
            <div class="option">
              <img
                src="{{ url_for('static', filename='imagenes/icons/dashboard.png') }}"
                title="Dashboard"
              />
              <h4>Dashboard</h4>
            </div>
          </a>
          
          <a href="{{ url_for('clientes') }}">
            <div class="option">
              <img
                src="{{ url_for('static', filename='imagenes/icons/clientes.png') }}"
                title="Cliente"
              />
              <h4>clientes</h4>
            </div>
          </a>
          
          <a href="{{ url_for('transacciones') }}" class="selector">
            <div class="option">
              <img
                src="{{ url_for('static', filename='imagenes/icons/icons8-transacción-30.png') }}"
                title="Transacciones"
              />
              <h4>Transacciones</h4>
            </div>
          </a>
          <a href="#">
            <div class="option">
              <img
                src="{{ url_for('static', filename='imagenes/icons/ayuda.png') }}"
                title="Ayuda"
              />
              <h4>Ayuda</h4>
            </div>
          </a>
        </div>
      </div>
      
      {% endif %}

    <main>
      <div class="container_proveedores">
        <h1>Transacciones</h1>
        <div class="container_proveedores_buscar">
          <input
            type="text"
            placeholder="Buscar"
            onkeyup="filtrarTransacciones(this.value)"
          />
        </div>
        <div class="proveedores">
          <table class="table_de_proveedores">
            <thead>
              <tr>
                <th>ID</th>
                <th>Marca de tiempo</th>
                <th>Importe ($)</th>
                <th>Tasa BCV</th>
                <th>Importe (Bs)</th>
                <th>Cliente</th>
                <th>Proveedor</th>
                <th>Realizada por</th>
              </tr>
            </thead>
            <tbody>
              <!-- Aquí se mostrarán los datos de las transacciones -->
              {% for transaccion in transacciones %}
              <tr>
                <td>{{ transaccion.id }}</td>
                <td>{{ transaccion.marca_de_tiempo }}</td>
                <td>{{ transaccion.importe_en_dolares }}</td>
                <td>{{ transaccion.tasa_bcv }}</td>
                <td>
                  {{ transaccion.importe_en_dolares * transaccion.tasa_bcv |
                  round }}
                </td>
                {% if transaccion.clientes_id %}
                <td>{{ transaccion.cliente }}</td>
                <td>N/A</td>
                {% else %}
                <td>N/A</td>
                <td>{{ transaccion.proveedor }}</td>
                {% endif %}
                <td>{{ transaccion.usuario }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </main>

    <script src="{{ url_for('static', filename='js/component.js') }}"></script>
    <script>
      function filtrarTransacciones(texto) {
        const filas = document.querySelectorAll(
          ".table_de_proveedores tbody tr",
        );

        filas.forEach((fila) => {
          const idTransaccion =
            fila.querySelector("td:first-child").textContent;
          if (idTransaccion.includes(texto)) {
            fila.style.display = "table-row";
          } else {
            fila.style.display = "none";
          }
        });
      }
    </script>
  </body>
</html>
