<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CamiCandy - Clientes</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Clientes.css') }}" />
</head>

{% if rol == "administrador" %}

<body id="body">
  <header>
    <div class="icon__menu">
      <img src="{{ url_for('static', filename='imagenes/icons/menu.png') }}" alt="" id="btn_open" />
    </div>
    <div class="icon__configuracion">
      <img src="{{ url_for('static', filename='imagenes/icons/herramientas.png') }}" alt="" />
    </div>
    <div class="boton">
      <button class="switch" id="switch">
        <span>
          <img src="{{ url_for('static', filename='imagenes/icons/sol.png') }}" alt="" />
        </span>
        <span>
          <img src="{{ url_for('static', filename='imagenes/icons/luna.png') }}" alt="" />
        </span>
      </button>
    </div>
  </header>

  <div class="menu__side" id="menu_side">
    <div class="name_page">
      <img src="{{ url_for('static', filename='imagenes/logo.png') }}" alt="" />
      <h4>CamiCandy</h4>
    </div>

    <div class="options__menu">
      <a href="{{ url_for('dashboard') }}">
        <div class="option">
          <img src="{{ url_for('static', filename='imagenes/icons/dashboard.png') }}" title="Dashboard" />
          <h4>Dashboard</h4>
        </div>
      </a>
      <a href="{{ url_for('productos') }}">
        <div class="option">
          <img src="{{ url_for('static', filename='imagenes/icons/productos.png') }}" title="productos" />
          <h4>Productos</h4>
        </div>
      </a>
      <a href="{{ url_for('clientes') }} " class="selector">
        <div class="option">
          <img src="{{ url_for('static', filename='imagenes/icons/clientes.png') }}" title="Cliente" />
          <h4>clientes</h4>
        </div>
      </a>
      <a href="{{ url_for('proveedores') }}">
        <div class="option">
          <img src="{{ url_for('static', filename='imagenes/icons/proveedores.png') }}" title="Proveedores" />
          <h4>Proveedores</h4>
        </div>
      </a>
      <a href="{{ url_for('transacciones') }}">
        <div class="option">
          <img src="{{ url_for('static', filename='imagenes/icons/icons8-transacción-30.png') }}"
            title="Transacciones" />
          <h4>Transacciones</h4>
        </div>
      </a>
      <a href="#">
        <div class="option">
          <img src="{{ url_for('static', filename='imagenes/icons/reportes.png') }}" title="Reportes" />
          <h4>Reportes</h4>
        </div>
      </a>
      <a href="{{ url_for('herramientas') }}">
        <div class="option">
          <img src="{{ url_for('static', filename='imagenes/icons/herramientas.png') }}" title="Herramientas" />
          <h4>Herramientas</h4>
        </div>
      </a>
      <a href="#">
        <div class="option">
          <img src="{{ url_for('static', filename='imagenes/icons/ayuda.png') }}" title="Ayuda" />
          <h4>Ayuda</h4>
        </div>
      </a>
    </div>
  </div>
  {% else %}



  <body id="body">
    <header>
      <div class="icon__menu">
        <img src="{{ url_for('static', filename='imagenes/icons/menu.png') }}" alt="" id="btn_open" />
      </div>
      <div class="icon__configuracion">
        <img src="{{ url_for('static', filename='imagenes/icons/herramientas.png') }}" alt="" />
      </div>
      <div class="boton">
        <button class="switch" id="switch">
          <span>
            <img src="{{ url_for('static', filename='imagenes/icons/sol.png') }}" alt="" />
          </span>
          <span>
            <img src="{{ url_for('static', filename='imagenes/icons/luna.png') }}" alt="" />
          </span>
        </button>
      </div>
    </header>

    <div class="menu__side" id="menu_side">
      <div class="name_page">
        <img src="{{ url_for('static', filename='imagenes/logo.png') }}" alt="" />
        <h4>CamiCandy</h4>
      </div>

      <div class="options__menu">
        <a href="{{ url_for('dashboard') }}">
          <div class="option">
            <img src="{{ url_for('static', filename='imagenes/icons/dashboard.png') }}" title="Dashboard" />
            <h4>Dashboard</h4>
          </div>
        </a>

        <a href="{{ url_for('clientes') }}" class="selector">
          <div class="option">
            <img src="{{ url_for('static', filename='imagenes/icons/clientes.png') }}" title="Cliente" />
            <h4>Clientes</h4>
          </div>
        </a>

        <a href="{{ url_for('transacciones') }}">
          <div class="option">
            <img src="{{ url_for('static', filename='imagenes/icons/icons8-transacción-30.png') }}"
              title="Transacciones" />
            <h4>Transacciones</h4>
          </div>
        </a>
        <a href="#">
          <div class="option">
            <img src="{{ url_for('static', filename='imagenes/icons/ayuda.png') }}" title="Ayuda" />
            <h4>Ayuda</h4>
          </div>
        </a>
      </div>
    </div>

    {% endif %}
    <main>
      <div class="container_clientes">
        <h2>Realizar Venta</h2>
  <form action="{{ url_for('realizar_venta') }}" method="POST">
    <label for="marca_de_tiempo">Marca de tiempo:</label>
    <input type="datetime-local" id="marca_de_tiempo" name="marca_de_tiempo" required><br>

    <label for="tasa_bcv">Tasa BCV:</label>
    <input type="number" step="0.01" id="tasa_bcv" name="tasa_bcv" required><br>

    <label for="clientes_id">Cliente:</label>
    <select id="clientes_id" name="clientes_id" required>
      {% for cliente in clientes %}
      <option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
      {% endfor %}
    </select><br>

    <label for="usuarios_id">Usuario:</label>
    <select id="usuarios_id" name="usuarios_id" required>
      {% for usuario in usuarios %}
      <option value="{{ usuario.id }}">{{ usuario.nombre }}</option>
      {% endfor %}
    </select><br>

    <label for="productos_id">Producto:</label>
    <select id="productos_id" name="productos_id" required>
      {% for producto in productos %}
      <option value="{{ producto.id }}">{{ producto.nombre }}</option>
      {% endfor %}
    </select><br>

    <label for="cantidad">Cantidad:</label>
    <input type="number" id="cantidad" name="cantidad" required><br>

    <input type="submit" value="Realizar Venta">
    


    <script src="{{ url_for('static', filename='js/component.js') }}"></script>
    <script>
  function actualizarPrecioUnitario() {
    const productoSelect = document.getElementById('productos_id');
    const selectedOption = productoSelect.options[productoSelect.selectedIndex];
    const precioUnitario = selectedOption.getAttribute('data-precio');
    document.getElementById('precio_unitario').value = precioUnitario;
    calcularPrecioTotal();
  }

  function calcularPrecioTotal() {
    const precioUnitario = parseFloat(document.getElementById('precio_unitario').value);
    const cantidad = parseInt(document.getElementById('cantidad').value);
    const precioTotal = precioUnitario * cantidad * 1.16; // 16% de IVA

    document.getElementById('precio_total').value = precioTotal.toFixed(2);
  }

  document.addEventListener('DOMContentLoaded', function() {
    actualizarPrecioUnitario(); // Actualizar precio unitario al cargar la página
  });
</script>

  </body>

</html>